body {
	font-family: 'Lato', sans-serif;
	margin: 0;
	padding: 0;
	background-color: #545454;
    background-image:linear-gradient(#545454, #282828);
	background:
        linear-gradient(-90deg, rgba(0,0,0,.05) 1px, transparent 1px),
        linear-gradient(rgba(0,0,0,.05) 1px, transparent 1px), 
        linear-gradient(-90deg, rgba(0, 0, 0, .04) 1px, transparent 1px),
        linear-gradient(rgba(0,0,0,.04) 1px, transparent 1px),
        linear-gradient(transparent 3px, #f2f2f2 3px, #f2f2f2 78px, transparent 78px),
        linear-gradient(-90deg, #aaa 1px, transparent 1px),
        linear-gradient(-90deg, transparent 3px, #f2f2f2 3px, #f2f2f2 78px, transparent 78px),
        linear-gradient(#aaa 1px, transparent 1px),
        #f2f2f2;
    background-size:
        4px 4px,
        4px 4px,
        80px 80px,
        80px 80px,
        80px 80px,
        80px 80px,
        80px 80px,
        80px 80px;
}
#wrapper {
	width: 100%;
	height: 600px;
}
#canvas {
	width: 1000px;
	height: 500px;
	background-color: rgba(226,227,206,0.4);
	margin: 33px auto 0 auto;
	position: relative;
	overflow: hidden;
}
#users {
	position: absolute;
	overflow: hidden;
	width: 1000px;
	height: 500px;
	top: 0;
	left: 0;
	z-index: 90001;
}
#items {
	position: absolute;
	overflow: hidden;
	width: 1000px;
	height: 500px;
	top: 0;
	left: 0;
	z-index: 90000;
}
#leaderboard {
	font-size: 11px;
	position: absolute;
	top: 5px;
	right: 5px;
	background-color: #f0efbf;
	z-index: 90002;
}
#title {
	font-size: 14px;
	text-align: center;
	margin-top: 30px;
}
.bird {
	width: 20px;
	height: 30px;
	top: 5px;
	left: 0px;
	position: absolute;
}
.bird .circle {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: #000;
	top: 12px;
	left: 0;
	position: absolute;
}
.bird .triangle {
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 20px solid #000;
	top: 0;
	left: 0px;
	position: absolute;
}
.bomb {
	width: 20px;
	height: 20px;
	position: absolute;
	top: 200px;
	left: 200px;
}
.bomb .body {
	width: 18px;
	height: 18px;
	border-radius: 50%;
	position: absolute;
	background: rgba(115,16,23,1);
	background: -moz-linear-gradient(45deg, rgba(115,16,23,1) 0%, rgba(240, 33, 48,1) 70%);
	background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(115,16,23,1)), color-stop(70%, rgba(240, 33, 48,1)));
	background: -webkit-linear-gradient(45deg, rgba(115,16,23,1) 0%, rgba(240, 33, 48,1) 70%);
	background: -o-linear-gradient(45deg, rgba(115,16,23,1) 0%, rgba(240, 33, 48,1) 70%);
	background: -ms-linear-gradient(45deg, rgba(115,16,23,1) 0%, rgba(240, 33, 48,1) 70%);
	background: linear-gradient(45deg, rgba(115,16,23,1) 0%, rgba(240, 33, 48,1) 70%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#731017', endColorstr='#f02130', GradientType=1 );
} 
.bomb .tail {
	background-color: rgba(240, 33, 48,1);
	position: absolute;
	width: 2px;
	height: 10px;
	-ms-transform: rotate(45deg); /* IE 9 */
   	-webkit-transform: rotate(45deg); /* Safari */
    transform: rotate(45deg);
  	left: 15px;
  	top: -4px;
  	border-top: 3px solid #f0e429;

  	-webkit-box-shadow: 0px -3px 10px 0.3px rgba(47,38,155,1);
	-moz-box-shadow: 0px -3px 10px 0.3px rgba(47,38,155,1);
	box-shadow: 0px -3px 10px 0.3px rgba(47,38,155,1);
}
.tree {
	width: 20px;
	height: 40px;
	position: absolute;
	top: 300px;
	left: 100px;
}
.tree .leaf1 {
	width: 20px;
	height: 20px;
	background-color: #05824c;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	position: absolute;
	top: 10px;
	left: 6px;
}
.tree .leaf2 {
	width: 20px;
	height: 20px;
	background-color: #06a45f;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	position: absolute;
	top: 8px;
	left: -5px;
}
.tree .leaf3 {
	width: 15px;
	height: 15px;
	background-color: #50ac47;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	position: absolute;
	top: 0px;
	left: 4px;
}
.tree .branch {
	width: 4px;
	height: 20px;
	background-color: #a3632f;
	position: absolute;
	top: 20px;
	left: 8px;
}
